<form action="/genres" method="post">
  <label for="type">What genre of music would you like to add?</label>
  <input name="type" id="type" type="text" required>
  <button type="submit">Add!</button>
</form>